<html>
<head>
    <title>Página Cadastro</title>
</head>
<body>
    <h1>Página Cadastro</h1>
    <hr/>
    <form method="GET">
    <label >Nome:</label>
    <input type="text" name="nome"/>
    <input type="submit" value="Enviar"/>
    <p>{{nome}}</p>
    </form>
    <hr/>
</body>
</html>