<html>
<head>
    <title>Página Home</title>
</head>
<body>
    <h1>Página Home</h1>
    <hr/>
    <h2>Usuários do Banco</h2>
    <ul>
        {{#users}}
        <li>Id: {{id}} - Nome: {{nome}} - Idade {{idade}} </li>
        {{/users}}
    <ul><br>
    <hr/>
</body>
</html>